# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore build output
dist/
build/
.bin/
.obj/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.vs/
.idea/
*.suo
*.user
*.userossc
*.sln.docstates

AngularNet-demo-app.Server/obj/